body {
  background-image: url("https://ambito-dolar.app/static/a95694ac93c3d5acfa89967c7b762f20/30cf3/seamless-background.webp");
}

h1 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

.text-align {
  text-align: center;
}

.container {
  width: 80%;
  height: 100vh;
}

.store-buttons {
  display: flex;
  justify-content: center;
}

.apple-button {
  margin-top: 55px;
  width: 150px;
  margin-left: 15px;
}

.google-button {
  width: 160px;
}

.logo {
  width: 20%;
}

@media (min-width: 992px) {
  .text-align {
    text-align: left;
  }

  .container {
    width: 80%;
    height: 100vh;
  }

  .store-buttons {
    justify-content: start;
  }
}
