body {
  background-image: url("https://ambito-dolar.app/static/a95694ac93c3d5acfa89967c7b762f20/30cf3/seamless-background.webp");
}

.text-align {
  text-align: center;
}

.container {
  width: 80%;
  height: 100vh;
}

@media (min-width: 992px) {
  .text-align {
    text-align: left;
  }

  .container {
    width: 80%;
    height: 100vh;
  }
}
